<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madd_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADD_Project">

      
      
      
      
    
        <activity
            android:name=".IT20225674_CalenderView"
            android:exported="true" />
        <activity
            android:name=".IT20225674_Calendar"
            android:exported="true" />
        <activity
            android:name=".IT20225674_DeleteTimeTable"
            android:exported="true" />
        <activity
            android:name=".IT20225674_UpdateTimeTable"
            android:exported="true" />
        <activity
            android:name=".IT20225674_AddTimeTable"
            android:exported="true" />

        <activity android:name=".IT20255756_GradingModule"></activity>
        <activity android:name=".IT20255756_ModuleList" />
        <activity android:name=".IT20255756_UpdateModule" />
        <activity android:name=".IT20255756_AddModule" />

        <activity android:name=".IT20218058_CreateGroup" />
        
    </application>

</manifest>
